# Jupyter Pipeline

In [1]:
import os
import pandas as pd

In [8]:
cwd = os.getcwd()
BASE_DIR = os.path.abspath(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')
BASE_DIR

'/home/kumar/Coding/jupyter_pipeline'

In [9]:
os.listdir(DATA_DIR)

['movies-2018.csv',
 'movies-2016.csv',
 'movies-2017.csv',
 'movies-2015.csv',
 'movies-2014.csv',
 'movies-2012.csv',
 'movies-2011.csv',
 'movies-2019.csv',
 'movies-2020.csv',
 'movies-2013.csv']

In [13]:
my_items = [{'category': "Action", 'title':"My awesome movie"}, {"category":"comedy", "title": "A comedy movie"}]
df = pd.DataFrame(my_items)

In [14]:
df

  category             title
0   Action  My awesome movie
1   comedy    A comedy movie

In [15]:
df['category']

0    Action
1    comedy
Name: category, dtype: object

In [16]:
df['title']

0    My awesome movie
1      A comedy movie
Name: title, dtype: object

In [17]:
df[0]

KeyError: 0

In [18]:
df.iloc[0]

category              Action
title       My awesome movie
Name: 0, dtype: object

In [20]:
my_data = os.path.join(DATA_DIR, 'movies-2019.csv')
os.path.exists(my_data)

True

In [22]:
df2 = pd.read_csv(my_data)
df2.head(10)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,Avengers: Endgame,"$2,797,800,564","$858,373,000",30.7%,"$1,939,427,564",69.3%
1,2,The Lion King,"$1,656,943,394","$543,638,043",32.8%,"$1,113,305,351",67.2%
2,3,Frozen II,"$1,450,026,933","$477,373,578",32.9%,"$972,653,355",67.1%
3,4,Spider-Man: Far from Home,"$1,131,927,996","$390,532,085",34.5%,"$741,395,911",65.5%
4,5,Captain Marvel,"$1,128,274,794","$426,829,839",37.8%,"$701,444,955",62.2%
5,6,Joker,"$1,074,251,311","$335,451,311",31.2%,"$738,800,000",68.8%
6,7,Star Wars: Episode IX - The Rise of Skywalker,"$1,074,144,248","$515,202,542",48%,"$558,941,706",52%
7,8,Toy Story 4,"$1,073,394,593","$434,038,008",40.4%,"$639,356,585",59.6%
8,9,Aladdin,"$1,050,693,953","$355,559,216",33.8%,"$695,134,737",66.2%
9,10,Jumanji: The Next Level,"$800,059,707","$320,314,960",40%,"$479,744,747",60%

In [24]:
df2.tail(10)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
772,773,Serendipity,"$2,298","$2,298",100%,-,-
773,774,Jihadists,"$2,104","$2,104",100%,-,-
774,775,Jimi Hendrix Electric Church,"$1,818",-,-,"$1,818",100%
775,776,Game Day,"$1,624","$1,624",100%,-,-
776,777,American Playhouse: The Killing Floor,"$1,583","$1,583",100%,-,-
777,778,The Hours and Times,"$1,273","$1,273",100%,-,-
778,779,The Wolf Hour,"$1,255",-,-,"$1,255",100%
779,780,A Fish in the Bathtub 2019 re-release,"$1,237","$1,237",100%,-,-
780,781,The Untold Story,$790,$790,100%,-,-
781,782,The Portal,$685,-,-,$685,100%

## Combining dataframes