In [1]:
import os
import pandas as pd

In [2]:
cwd = os.getcwd()
BASE_DIR = os.path.abspath(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')
BASE_DIR

'/home/kumar/Coding/jupyter_pipeline'

In [3]:
os.listdir(DATA_DIR)

['movies-2018.csv',
 'movies-2016.csv',
 'movies-2017.csv',
 'movies-2015.csv',
 'movies-2014.csv',
 'movies-2012.csv',
 'movies-2011.csv',
 'movies-2019.csv',
 'movies-2020.csv',
 'movies-2013.csv']

In [4]:
df = pd.read_csv(os.path.join(DATA_DIR, 'movies-2011.csv'))
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,Harry Potter and the Deathly Hallows: Part 2,"$1,341,511,219","$381,011,219",28.4%,"$960,500,000",71.6%
1,2,Transformers: Dark of the Moon,"$1,123,794,079","$352,390,543",31.4%,"$771,403,536",68.6%
2,3,Pirates of the Caribbean: On Stranger Tides,"$1,045,713,802","$241,071,802",23.1%,"$804,642,000",76.9%
3,4,The Twilight Saga: Breaking Dawn - Part 1,"$712,205,856","$281,287,133",39.5%,"$430,918,723",60.5%
4,5,Mission: Impossible - Ghost Protocol,"$694,713,380","$209,397,903",30.1%,"$485,315,477",69.9%

In [5]:
df['Year'] = 2011

In [6]:
df.head(10)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,Year
0,1,Harry Potter and the Deathly Hallows: Part 2,"$1,341,511,219","$381,011,219",28.4%,"$960,500,000",71.6%,2011
1,2,Transformers: Dark of the Moon,"$1,123,794,079","$352,390,543",31.4%,"$771,403,536",68.6%,2011
2,3,Pirates of the Caribbean: On Stranger Tides,"$1,045,713,802","$241,071,802",23.1%,"$804,642,000",76.9%,2011
3,4,The Twilight Saga: Breaking Dawn - Part 1,"$712,205,856","$281,287,133",39.5%,"$430,918,723",60.5%,2011
4,5,Mission: Impossible - Ghost Protocol,"$694,713,380","$209,397,903",30.1%,"$485,315,477",69.9%,2011
5,6,Kung Fu Panda 2,"$665,692,281","$165,249,063",24.8%,"$500,443,218",75.2%,2011
6,7,Fast Five,"$626,137,675","$209,837,675",33.5%,"$416,300,000",66.5%,2011
7,8,The Hangover Part II,"$586,764,305","$254,464,305",43.4%,"$332,300,000",56.6%,2011
8,9,The Smurfs,"$563,749,323","$142,614,158",25.3%,"$421,135,165",74.7%,2011
9,10,Cars 2,"$559,852,396","$191,452,396",34.2%,"$368,400,000",65.8%,2011

In [7]:
my_dfs = []
csv_files = [x for x in os.listdir(DATA_DIR) if x.endswith('.csv')]
for filename in csv_files:
    csv_path = os.path.join(DATA_DIR, filename)
    this_df = pd.read_csv(csv_path)
    this_df['filename'] = filename
    this_df['Year'] = filename.replace('.csv', "")[7:]
    my_dfs.append(this_df)

In [8]:
my_dfs

[     Rank                   Release Group       Worldwide      Domestic  \
 0       1          Avengers: Infinity War  $2,048,359,754  $678,815,482
 1       2                   Black Panther  $1,346,913,161  $700,059,566
 2       3  Jurassic World: Fallen Kingdom  $1,308,467,944  $417,719,760
 3       4                   Incredibles 2  $1,242,805,359  $608,581,744
 4       5                         Aquaman  $1,148,461,807  $335,061,807
 ..    ...                             ...             ...           ...
 893   894                Under the Turban          $1,190        $1,190
 894   895                   Half Brothers          $1,100        $1,100
 895   896                 Invisible Hands          $1,034        $1,034
 896   897     TVTV: Video Revolutionaries            $812          $812
 897   898                    Higher Power            $528          $528

          %         Foreign    %.1         filename  Year
 0    33.1%  $1,369,544,272  66.9%  movies-2018.csv  2018
 1      52%    $646,853,595    48%  movies-2018.csv  2018
 2    31.9%    $890,748,184  68.1%  movies-2018.csv  2018
 3      49%    $634,223,615    51%  movies-2018.csv  2018
 4    29.2%    $813,400,000  70.8%  movies-2018.csv  2018
 ..     ...             ...    ...              ...   ...
 893   100%               -      -  movies-2018.csv  2018
 894   100%               -      -  movies-2018.csv  2018
 895   100%               -      -  movies-2018.csv  2018
 896   100%               -      -  movies-2018.csv  2018
 897   100%               -      -  movies-2018.csv  2018

 [898 rows x 9 columns],
      Rank                 Release Group       Worldwide      Domestic      %  \
 0       1    Captain America: Civil War  $1,153,296,293  $408,084,349  35.4%
 1       2  Rogue One: A Star Wars Story  $1,056,057,273  $532,177,324  50.4%
 2       3                  Finding Dory  $1,028,570,889  $486,295,561  47.3%
 3       4                      Zootopia  $1,023,784,195  $341,268,248  33.3%
 4       5               The Jungle Book    $966,550,600  $364,001,123  37.7%
 ..    ...                           ...             ...           ...    ...
 757   758               Above and Below          $1,189             -      -
 758   759                 Officer Downe            $850          $850   100%
 759   760             A Girl Like Grace            $713          $713   100%
 760   761                       The Pit            $560          $560   100%
 761   762                 Green is Gold            $455          $455   100%

           Foreign    %.1         filename  Year
 0    $745,211,944  64.6%  movies-2016.csv  2016
 1    $523,879,949  49.6%  movies-2016.csv  2016
 2    $542,275,328  52.7%  movies-2016.csv  2016
 3    $682,515,947  66.7%  movies-2016.csv  2016
 4    $602,549,477  62.3%  movies-2016.csv  2016
 ..            ...    ...              ...   ...
 757        $1,189   100%  movies-2016.csv  2016
 758             -      -  movies-2016.csv  2016
 759             -      -  movies-2016.csv  2016
 760             -      -  movies-2016.csv  2016
 761             -      -  movies-2016.csv  2016

 [762 rows x 9 columns],
      Rank                            Release Group       Worldwide  \
 0       1  Star Wars: Episode VIII - The Last Jedi  $1,332,539,889
 1       2                     Beauty and the Beast  $1,263,521,126
 2       3                  The Fate of the Furious  $1,236,005,118
 3       4                          Despicable Me 3  $1,034,799,409
 4       5           Jumanji: Welcome to the Jungle    $962,077,546
 ..    ...                                      ...             ...
 776   777               A Different American Dream          $1,172
 777   778                     The Penguin Counters            $976
 778   779            Extraordinary Ordinary People            $880
 779   780                                Antiporno            $294
 780   781                    Wet Woman in the Wind            $268

          Domestic      %         Foreign    %.1         filename  Year
 0    $620,181,382  46.5%    $712,358,507  53.5%  movies-2017.csv  2017
 1    $504,014,165  39.9%    $759,506,961  60.1%  movies-2017.csv  2017
 2    $226,008,385  18.3%  $1,009,996,733  81.7%  movies-2017.csv  2017
 3    $264,624,300  25.6%    $770,175,109  74.4%  movies-2017.csv  2017
 4    $404,515,480    42%    $557,562,066    58%  movies-2017.csv  2017
 ..            ...    ...             ...    ...              ...   ...
 776        $1,172   100%               -      -  movies-2017.csv  2017
 777          $976   100%               -      -  movies-2017.csv  2017
 778          $880   100%               -      -  movies-2017.csv  2017
 779             -      -            $294   100%  movies-2017.csv  2017
 780             -      -            $268   100%  movies-2017.csv  2017

 [781 rows x 9 columns],
      Rank                                      Release Group       Worldwide  \
 0       1         Star Wars: Episode VII - The Force Awakens  $2,068,223,624
 1       2                                     Jurassic World  $1,670,400,637
 2       3                                          Furious 7  $1,515,047,671
 3       4                            Avengers: Age of Ultron  $1,402,805,868
 4       5                                            Minions  $1,159,398,397
 ..    ...                                                ...             ...
 730   731                  It's All So Quiet 2015 Re-release            $724
 731   732     It's Hard Being Loved by Jerks 2015 Re-release            $697
 732   733                                      The 11th Hour            $510
 733   734                                     Paranoid Girls             $78
 734   735  Confession of a Child of the Century 2015 Re-r...             $74

          Domestic      %         Foreign    %.1         filename  Year
 0    $936,662,225  45.3%  $1,131,561,399  54.7%  movies-2015.csv  2015
 1    $652,270,625    39%  $1,018,130,012    61%  movies-2015.csv  2015
 2    $353,007,020  23.3%  $1,162,040,651  76.7%  movies-2015.csv  2015
 3    $459,005,868  32.7%    $943,800,000  67.3%  movies-2015.csv  2015
 4    $336,045,770    29%    $823,352,627    71%  movies-2015.csv  2015
 ..            ...    ...             ...    ...              ...   ...
 730          $724   100%               -      -  movies-2015.csv  2015
 731          $697   100%               -      -  movies-2015.csv  2015
 732             -      -            $510   100%  movies-2015.csv  2015
 733           $78   100%               -      -  movies-2015.csv  2015
 734           $74   100%               -      -  movies-2015.csv  2015

 [735 rows x 9 columns],
      Rank                              Release Group       Worldwide  \
 0       1            Transformers: Age of Extinction  $1,104,054,072
 1       2  The Hobbit: The Battle of the Five Armies    $956,019,788
 2       3                    Guardians of the Galaxy    $772,776,600
 3       4                                 Maleficent    $758,410,378
 4       5      The Hunger Games: Mockingjay - Part 1    $755,356,711
 ..    ...                                        ...             ...
 720   721                         A People Uncounted            $930
 721   722                    Jackpot 2014 Re-release            $806
 722   723                                   Skinless            $400
 723   724                               Cinemanovels            $398
 724   725                        Mummy, I'm A Zombie            $120

          Domestic      %       Foreign    %.1         filename  Year
 0    $245,439,076  22.2%  $858,614,996  77.8%  movies-2014.csv  2014
 1    $255,119,788  26.7%  $700,900,000  73.3%  movies-2014.csv  2014
 2    $333,176,600  43.1%  $439,600,000  56.9%  movies-2014.csv  2014
 3    $241,410,378  31.8%  $517,000,000  68.2%  movies-2014.csv  2014
 4    $337,135,885  44.6%  $418,220,826  55.4%  movies-2014.csv  2014
 ..            ...    ...           ...    ...              ...   ...
 720          $930   100%             -      -  movies-2014.csv  2014
 721          $806   100%             -      -  movies-2014.csv  2014
 722          $400   100%             -      -  movies-2014.csv  2014
 723          $398   100%             -      -  movies-2014.csv  2014
 724          $120   100%             -      -  movies-2014.csv  2014

 [725 rows x 9 columns],
      Rank                              Release Group       Worldwide  \
 0       1                               The Avengers  $1,518,812,988
 1       2                                    Skyfall  $1,108,561,013
 2       3                      The Dark Knight Rises  $1,081,041,287
 3       4          The Hobbit: An Unexpected Journey  $1,017,003,568
 4       5                 Ice Age: Continental Drift    $877,244,782
 ..    ...                                        ...             ...
 690   691                           The Loving Story            $700
 691   692                               Nature Calls            $646
 692   693                           Citizen Gangster            $625
 693   694  Gottfried Helnwein and the Dreaming Child            $601
 694   695                               Meeting Evil            $525

          Domestic      %       Foreign    %.1         filename  Year
 0    $623,357,910    41%  $895,455,078    59%  movies-2012.csv  2012
 1    $304,360,277  27.5%  $804,200,736  72.5%  movies-2012.csv  2012
 2    $448,139,099  41.5%  $632,902,188  58.5%  movies-2012.csv  2012
 3    $303,003,568  29.8%  $714,000,000  70.2%  movies-2012.csv  2012
 4    $161,321,843  18.4%  $715,922,939  81.6%  movies-2012.csv  2012
 ..            ...    ...           ...    ...              ...   ...
 690          $700   100%             -      -  movies-2012.csv  2012
 691          $646   100%             -      -  movies-2012.csv  2012
 692          $625   100%             -      -  movies-2012.csv  2012
 693          $601   100%             -      -  movies-2012.csv  2012
 694          $525   100%             -      -  movies-2012.csv  2012

 [695 rows x 9 columns],
      Rank                                 Release Group       Worldwide  \
 0       1  Harry Potter and the Deathly Hallows: Part 2  $1,341,511,219
 1       2                Transformers: Dark of the Moon  $1,123,794,079
 2       3   Pirates of the Caribbean: On Stranger Tides  $1,045,713,802
 3       4     The Twilight Saga: Breaking Dawn - Part 1    $712,205,856
 4       5          Mission: Impossible - Ghost Protocol    $694,713,380
 ..    ...                                           ...             ...
 591   592                                    The Tunnel          $1,532
 592   593                              Strangers Online            $968
 593   594                                     Abandoned            $832
 594   595                               Redneck Carnage            $706
 595   596                             A Good Day to Die            $573

          Domestic      %       Foreign    %.1         filename  Year
 0    $381,011,219  28.4%  $960,500,000  71.6%  movies-2011.csv  2011
 1    $352,390,543  31.4%  $771,403,536  68.6%  movies-2011.csv  2011
 2    $241,071,802  23.1%  $804,642,000  76.9%  movies-2011.csv  2011
 3    $281,287,133  39.5%  $430,918,723  60.5%  movies-2011.csv  2011
 4    $209,397,903  30.1%  $485,315,477  69.9%  movies-2011.csv  2011
 ..            ...    ...           ...    ...              ...   ...
 591        $1,532   100%             -      -  movies-2011.csv  2011
 592          $968   100%             -      -  movies-2011.csv  2011
 593          $832   100%             -      -  movies-2011.csv  2011
 594          $706   100%             -      -  movies-2011.csv  2011
 595          $573   100%             -      -  movies-2011.csv  2011

 [596 rows x 9 columns],
      Rank                          Release Group       Worldwide  \
 0       1                      Avengers: Endgame  $2,797,800,564
 1       2                          The Lion King  $1,656,943,394
 2       3                              Frozen II  $1,450,026,933
 3       4              Spider-Man: Far from Home  $1,131,927,996
 4       5                         Captain Marvel  $1,128,274,794
 ..    ...                                    ...             ...
 777   778                    The Hours and Times          $1,273
 778   779                          The Wolf Hour          $1,255
 779   780  A Fish in the Bathtub 2019 re-release          $1,237
 780   781                       The Untold Story            $790
 781   782                             The Portal            $685

          Domestic      %         Foreign    %.1         filename  Year
 0    $858,373,000  30.7%  $1,939,427,564  69.3%  movies-2019.csv  2019
 1    $543,638,043  32.8%  $1,113,305,351  67.2%  movies-2019.csv  2019
 2    $477,373,578  32.9%    $972,653,355  67.1%  movies-2019.csv  2019
 3    $390,532,085  34.5%    $741,395,911  65.5%  movies-2019.csv  2019
 4    $426,829,839  37.8%    $701,444,955  62.2%  movies-2019.csv  2019
 ..            ...    ...             ...    ...              ...   ...
 777        $1,273   100%               -      -  movies-2019.csv  2019
 778             -      -          $1,255   100%  movies-2019.csv  2019
 779        $1,237   100%               -      -  movies-2019.csv  2019
 780          $790   100%               -      -  movies-2019.csv  2019
 781             -      -            $685   100%  movies-2019.csv  2019

 [782 rows x 9 columns],
      Rank            Release Group     Worldwide      Domestic      %  \
 0       1        The Eight Hundred  $461,132,912      $372,755  <0.1%
 1       2        Bad Boys for Life  $426,505,244  $206,305,244  48.4%
 2       3                    Tenet  $353,700,000   $56,300,000  15.9%
 3       4       Sonic the Hedgehog  $319,104,189  $146,066,470  45.8%
 4       5                 Dolittle  $245,229,574   $77,047,065  31.4%
 ..    ...                      ...           ...           ...    ...
 292   293               Fear Pharm        $1,157        $1,157   100%
 293   294               The Father        $1,141             -      -
 294   295            Hai Tang Hong        $1,107        $1,107   100%
 295   296  Greater 2020 Re-release          $527          $527   100%
 296   297          Spaceship Earth          $362             -      -

           Foreign    %.1         filename  Year
 0    $460,760,157  99.9%  movies-2020.csv  2020
 1    $220,200,000  51.6%  movies-2020.csv  2020
 2    $297,400,000  84.1%  movies-2020.csv  2020
 3    $173,037,719  54.2%  movies-2020.csv  2020
 4    $168,182,509  68.6%  movies-2020.csv  2020
 ..            ...    ...              ...   ...
 292             -      -  movies-2020.csv  2020
 293        $1,141   100%  movies-2020.csv  2020
 294             -      -  movies-2020.csv  2020
 295             -      -  movies-2020.csv  2020
 296          $362   100%  movies-2020.csv  2020

 [297 rows x 9 columns],
      Rank                        Release Group       Worldwide      Domestic  \
 0       1                               Frozen  $1,280,802,282  $400,738,009
 1       2                           Iron Man 3  $1,214,811,252  $409,013,994
 2       3                      Despicable Me 2    $970,766,005  $368,065,385
 3       4  The Hobbit: The Desolation of Smaug    $958,366,855  $258,366,855
 4       5      The Hunger Games: Catching Fire    $865,011,746  $424,668,047
 ..    ...                                  ...             ...           ...
 701   702                                Veer!          $1,132        $1,132
 702   703                              Absence          $1,031        $1,031
 703   704                             Remnants          $1,022        $1,022
 704   705                                Syrup            $663          $663
 705   706                  Triumph of the Wall            $476          $476

          %       Foreign    %.1         filename  Year
 0    31.3%  $880,064,273  68.7%  movies-2013.csv  2013
 1    33.7%  $805,797,258  66.3%  movies-2013.csv  2013
 2    37.9%  $602,700,620  62.1%  movies-2013.csv  2013
 3      27%  $700,000,000    73%  movies-2013.csv  2013
 4    49.1%  $440,343,699  50.9%  movies-2013.csv  2013
 ..     ...           ...    ...              ...   ...
 701   100%             -      -  movies-2013.csv  2013
 702   100%             -      -  movies-2013.csv  2013
 703   100%             -      -  movies-2013.csv  2013
 704   100%             -      -  movies-2013.csv  2013
 705   100%             -      -  movies-2013.csv  2013

 [706 rows x 9 columns]]

In [10]:
entire_df = pd.concat(my_dfs)
entire_df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,Year
0,1,Avengers: Infinity War,"$2,048,359,754","$678,815,482",33.1%,"$1,369,544,272",66.9%,movies-2018.csv,2018
1,2,Black Panther,"$1,346,913,161","$700,059,566",52%,"$646,853,595",48%,movies-2018.csv,2018
2,3,Jurassic World: Fallen Kingdom,"$1,308,467,944","$417,719,760",31.9%,"$890,748,184",68.1%,movies-2018.csv,2018
3,4,Incredibles 2,"$1,242,805,359","$608,581,744",49%,"$634,223,615",51%,movies-2018.csv,2018
4,5,Aquaman,"$1,148,461,807","$335,061,807",29.2%,"$813,400,000",70.8%,movies-2018.csv,2018

In [11]:
entire_df.tail()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,Year
701,702,Veer!,"$1,132","$1,132",100%,-,-,movies-2013.csv,2013
702,703,Absence,"$1,031","$1,031",100%,-,-,movies-2013.csv,2013
703,704,Remnants,"$1,022","$1,022",100%,-,-,movies-2013.csv,2013
704,705,Syrup,$663,$663,100%,-,-,movies-2013.csv,2013
705,706,Triumph of the Wall,$476,$476,100%,-,-,movies-2013.csv,2013

In [13]:
CACHE_DIR = os.path.join(BASE_DIR, 'cache')
os.makedirs(CACHE_DIR, exist_ok=True)
dataset = os.path.join(CACHE_DIR, 'movies-boxoffice-dataset.csv')
entire_df.to_csv(dataset, index=False)

## Cleanup DATA