In [1]:
import os
import pandas as pd

In [2]:
cwd = os.getcwd()
BASE_DIR = os.path.abspath(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')
BASE_DIR

'/home/kumar/Coding/jupyter_pipeline'

In [3]:
CACHE_DIR = os.path.join(BASE_DIR, 'cache')
working_file = os.path.join(CACHE_DIR, 'movies-boxoffice-dataset.csv')
working_file

'/home/kumar/Coding/jupyter_pipeline/cache/movies-boxoffice-dataset.csv'

In [4]:
df = pd.read_csv(working_file)
df.head(100)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,Year
0,1,Avengers: Infinity War,"$2,048,359,754","$678,815,482",33.1%,"$1,369,544,272",66.9%,movies-2018.csv,2018
1,2,Black Panther,"$1,346,913,161","$700,059,566",52%,"$646,853,595",48%,movies-2018.csv,2018
2,3,Jurassic World: Fallen Kingdom,"$1,308,467,944","$417,719,760",31.9%,"$890,748,184",68.1%,movies-2018.csv,2018
3,4,Incredibles 2,"$1,242,805,359","$608,581,744",49%,"$634,223,615",51%,movies-2018.csv,2018
4,5,Aquaman,"$1,148,461,807","$335,061,807",29.2%,"$813,400,000",70.8%,movies-2018.csv,2018
...,...,...,...,...,...,...,...,...,...
95,96,Isle of Dogs,"$64,241,499","$32,015,231",49.8%,"$32,226,268",50.2%,movies-2018.csv,2018
96,97,Andhadhun,"$62,475,342","$1,193,046",1.9%,"$61,282,296",98.1%,movies-2018.csv,2018
97,98,Adrift,"$59,945,012","$31,445,012",52.5%,"$28,500,000",47.5%,movies-2018.csv,2018
98,99,The 15:17 to Paris,"$57,076,286","$36,276,286",63.6%,"$20,800,000",36.4%,movies-2018.csv,2018
99,100,Early Man,"$54,622,814","$8,267,544",15.1%,"$46,355,270",84.9%,movies-2018.csv,2018

In [5]:
df['Rank'] = -1
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,Year
0,-1,Avengers: Infinity War,"$2,048,359,754","$678,815,482",33.1%,"$1,369,544,272",66.9%,movies-2018.csv,2018
1,-1,Black Panther,"$1,346,913,161","$700,059,566",52%,"$646,853,595",48%,movies-2018.csv,2018
2,-1,Jurassic World: Fallen Kingdom,"$1,308,467,944","$417,719,760",31.9%,"$890,748,184",68.1%,movies-2018.csv,2018
3,-1,Incredibles 2,"$1,242,805,359","$608,581,744",49%,"$634,223,615",51%,movies-2018.csv,2018
4,-1,Aquaman,"$1,148,461,807","$335,061,807",29.2%,"$813,400,000",70.8%,movies-2018.csv,2018

In [6]:
df['Domestic %'] = df['%']
df['Foreign %'] = df['%.1']
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,Year,Domestic %,Foreign %
0,-1,Avengers: Infinity War,"$2,048,359,754","$678,815,482",33.1%,"$1,369,544,272",66.9%,movies-2018.csv,2018,33.1%,66.9%
1,-1,Black Panther,"$1,346,913,161","$700,059,566",52%,"$646,853,595",48%,movies-2018.csv,2018,52%,48%
2,-1,Jurassic World: Fallen Kingdom,"$1,308,467,944","$417,719,760",31.9%,"$890,748,184",68.1%,movies-2018.csv,2018,31.9%,68.1%
3,-1,Incredibles 2,"$1,242,805,359","$608,581,744",49%,"$634,223,615",51%,movies-2018.csv,2018,49%,51%
4,-1,Aquaman,"$1,148,461,807","$335,061,807",29.2%,"$813,400,000",70.8%,movies-2018.csv,2018,29.2%,70.8%

In [7]:
df.drop(columns=['%', '%.1'], inplace=True)
df.tail()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,Year,Domestic %,Foreign %
6972,-1,Veer!,"$1,132","$1,132",-,movies-2013.csv,2013,100%,-
6973,-1,Absence,"$1,031","$1,031",-,movies-2013.csv,2013,100%,-
6974,-1,Remnants,"$1,022","$1,022",-,movies-2013.csv,2013,100%,-
6975,-1,Syrup,$663,$663,-,movies-2013.csv,2013,100%,-
6976,-1,Triumph of the Wall,$476,$476,-,movies-2013.csv,2013,100%,-

In [8]:
def currency_str_to_int(cur_value):
    try:
        int_val = int(cur_value)
    except:
        int_val = 0
    return int_val

to_clean_cols = ['Worldwide', 'Domestic', 'Foreign']
def clean_col(row):
    for col in to_clean_cols:
        row[col] = row[col].replace('$','').replace(',', '')
        row[col] = currency_str_to_int(row[col])
    return row

cleaned_df = df.apply(clean_col, axis=1)

In [9]:
cleaned_df

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,Year,Domestic %,Foreign %
0,-1,Avengers: Infinity War,2048359754,678815482,1369544272,movies-2018.csv,2018,33.1%,66.9%
1,-1,Black Panther,1346913161,700059566,646853595,movies-2018.csv,2018,52%,48%
2,-1,Jurassic World: Fallen Kingdom,1308467944,417719760,890748184,movies-2018.csv,2018,31.9%,68.1%
3,-1,Incredibles 2,1242805359,608581744,634223615,movies-2018.csv,2018,49%,51%
4,-1,Aquaman,1148461807,335061807,813400000,movies-2018.csv,2018,29.2%,70.8%
...,...,...,...,...,...,...,...,...,...
6972,-1,Veer!,1132,1132,0,movies-2013.csv,2013,100%,-
6973,-1,Absence,1031,1031,0,movies-2013.csv,2013,100%,-
6974,-1,Remnants,1022,1022,0,movies-2013.csv,2013,100%,-
6975,-1,Syrup,663,663,0,movies-2013.csv,2013,100%,-
6976,-1,Triumph of the Wall,476,476,0,movies-2013.csv,2013,100%,-

In [10]:
cleaned_df.dtypes

Rank              int64
Release Group    object
Worldwide         int64
Domestic          int64
Foreign           int64
filename         object
Year              int64
Domestic %       object
Foreign %        object
dtype: object

In [11]:
df.dtypes

Rank              int64
Release Group    object
Worldwide        object
Domestic         object
Foreign          object
filename         object
Year              int64
Domestic %       object
Foreign %        object
dtype: object

In [12]:
cleaned_df.sort_values(by=['Worldwide'], inplace=True, ascending=False)
cleaned_df.head(10)

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,Year,Domestic %,Foreign %
5192,-1,Avengers: Endgame,2797800564,858373000,1939427564,movies-2019.csv,2019,30.7%,69.3%
2441,-1,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,movies-2015.csv,2015,45.3%,54.7%
0,-1,Avengers: Infinity War,2048359754,678815482,1369544272,movies-2018.csv,2018,33.1%,66.9%
2442,-1,Jurassic World,1670400637,652270625,1018130012,movies-2015.csv,2015,39%,61%
5193,-1,The Lion King,1656943394,543638043,1113305351,movies-2019.csv,2019,32.8%,67.2%
3901,-1,The Avengers,1518812988,623357910,895455078,movies-2012.csv,2012,41%,59%
2443,-1,Furious 7,1515047671,353007020,1162040651,movies-2015.csv,2015,23.3%,76.7%
5194,-1,Frozen II,1450026933,477373578,972653355,movies-2019.csv,2019,32.9%,67.1%
2444,-1,Avengers: Age of Ultron,1402805868,459005868,943800000,movies-2015.csv,2015,32.7%,67.3%
1,-1,Black Panther,1346913161,700059566,646853595,movies-2018.csv,2018,52%,48%

In [13]:
cleaned_df.reset_index(inplace=True, drop=True)
cleaned_df.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,Year,Domestic %,Foreign %
0,-1,Avengers: Endgame,2797800564,858373000,1939427564,movies-2019.csv,2019,30.7%,69.3%
1,-1,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,movies-2015.csv,2015,45.3%,54.7%
2,-1,Avengers: Infinity War,2048359754,678815482,1369544272,movies-2018.csv,2018,33.1%,66.9%
3,-1,Jurassic World,1670400637,652270625,1018130012,movies-2015.csv,2015,39%,61%
4,-1,The Lion King,1656943394,543638043,1113305351,movies-2019.csv,2019,32.8%,67.2%

In [14]:
cleaned_df['Rank'] = cleaned_df.index +1
cleaned_df.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,Year,Domestic %,Foreign %
0,1,Avengers: Endgame,2797800564,858373000,1939427564,movies-2019.csv,2019,30.7%,69.3%
1,2,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,movies-2015.csv,2015,45.3%,54.7%
2,3,Avengers: Infinity War,2048359754,678815482,1369544272,movies-2018.csv,2018,33.1%,66.9%
3,4,Jurassic World,1670400637,652270625,1018130012,movies-2015.csv,2015,39%,61%
4,5,The Lion King,1656943394,543638043,1113305351,movies-2019.csv,2019,32.8%,67.2%

In [15]:
cleaned_df['Domestic %'] = cleaned_df['Domestic'] / cleaned_df['Worldwide']
cleaned_df['Foreign %'] = cleaned_df['Foreign'] / cleaned_df['Worldwide']
cleaned_df

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,Year,Domestic %,Foreign %
0,1,Avengers: Endgame,2797800564,858373000,1939427564,movies-2019.csv,2019,0.306803,0.693197
1,2,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,movies-2015.csv,2015,0.452882,0.547118
2,3,Avengers: Infinity War,2048359754,678815482,1369544272,movies-2018.csv,2018,0.331395,0.668605
3,4,Jurassic World,1670400637,652270625,1018130012,movies-2015.csv,2015,0.390488,0.609512
4,5,The Lion King,1656943394,543638043,1113305351,movies-2019.csv,2019,0.328097,0.671903
...,...,...,...,...,...,...,...,...,...
6972,6973,Antiporno,294,0,294,movies-2017.csv,2017,0.000000,1.000000
6973,6974,Wet Woman in the Wind,268,0,268,movies-2017.csv,2017,0.000000,1.000000
6974,6975,"Mummy, I'm A Zombie",120,120,0,movies-2014.csv,2014,1.000000,0.000000
6975,6976,Paranoid Girls,78,78,0,movies-2015.csv,2015,1.000000,0.000000
6976,6977,Confession of a Child of the Century 2015 Re-r...,74,74,0,movies-2015.csv,2015,1.000000,0.000000

In [16]:
cleaned_df.dtypes

Rank               int64
Release Group     object
Worldwide          int64
Domestic           int64
Foreign            int64
filename          object
Year               int64
Domestic %       float64
Foreign %        float64
dtype: object

In [17]:
output_file = os.path.join(os.path.join(CACHE_DIR, 'movies-boxoffice-dataset-cleaned.csv'))
cleaned_df.to_csv(output_file, index=False)